body{
    height: 100%;
    overflow-y: hidden;
    margin: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.arrow-back{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem 2rem ;
    font-size: 1.2rem;
    transition: 150ms;
    cursor: pointer;
}

.arrow-back svg{
    margin-right: 10px;
}

.arrow-back:hover{
    transform: translateX(-5px);
}


.card{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mini-card {
    /* Nueva estructura para alinear label e input */
    display: flex;
    flex-direction: column;
    text-align: left;
}

.mini-card label {
    /* Alinea el texto de la etiqueta a la izquierda */
    flex-basis: 35%; /* La etiqueta ocupa un tercio del espacio (ajustable) */
    text-align: left; 
    font-weight: 500;
    color: white; 
}

.mini-card input.input-box {
    /* Estilo general para campos de texto */
    flex-basis: 60%; /* El campo de entrada ocupa dos tercios del espacio (ajustable) */
    margin: 8px 0; /* Espaciado vertical más limpio */
    padding: 5px 10px; 
    border-radius: 10px;
    border: none;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.498);
}

#favorite{
    color: #8E44AD; 
    width: 20px;
    height: 20px;
    margin-left: 2rem;
    align-items: center;
}

.favorite-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; /* Alinea los elementos a la izquierda del formulario */
    align-items: center;
    margin-top: 3%; 
    margin-bottom: 4%; 
}

.container-title{
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 0 10px 15px rgba(0, 0, 0, 0.692);
}


.data-picker{
    display: flex;
    flex-direction: column;
    /* Ajustado el ancho para ser más adaptable pero mantener el límite */
    width: 90%; 
    max-width: 450px; /* Ancho máximo para el formulario */
    background-color: #8471ae;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.692);
}

.input-box{
    border-radius: 10px;
    padding: 5px 20px;
    margin:8px 0 8px ;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.498);
}


/* Estilos del botón */
.button-box{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: small;
    border-radius: 20px;
    padding: 8px 25px; 
    transition: 350ms;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.498);
    background-color: #f7f7f7; 
    border: none;
    font-weight: bold;
    margin-top: 10px;
    max-width: 40%;
    margin-left: 30%;
}

.button-box:hover{
    font-size: medium;
    cursor: pointer;
    background-color: #ebebeb; 
}

.button-box:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.spinner{
    display: block;
    margin: 15px auto 0;
}

.error {
    color: #ffe7e7;
    font-size: 0.85rem;
    text-align: left;
    margin: 2% 0 3%;
    text-decoration: underline;
}
