
.card{
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.container-title{
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 0 10px 15px rgba(0, 0, 0, 0.692);
}

.data-picker{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    background-color: #8471ae;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.692);

}

.input-box{
    border-radius: 10px;
    padding: 5px 20px;
    margin:8px 0 8px ;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.498);
}

.button-box:hover{
    font-size: medium;
    cursor: pointer;
}

.button-box{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: small;
    border-radius: 20px;
    padding: 5px 15px;
    transition: 350ms;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.498);

}


.create-acc{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.create-acc a{
    color: rgb(85, 28, 154);
    text-decoration: underline;
    font-weight: bolder;
    margin: 15px 0 0 10px;
}

.create-acc p{
    margin: 15px 0 0;
}

.spinner{
    z-index: 1;
}
